/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUTADAPT_F.*' {
        ext.prefix = { params.tag_primers_f ? "{name}" : "${meta.id}" }
        ext.args   = {
            [
                //"--action=none -e 0.1 --discard-untrimmed", --action=none is won't remove adapters
                //"-e 2",
                "--rc",
                params.error_rate ? "-e ${params.error_rate}" : '',
                params.overlap ? "--overlap ${params.overlap}" : '',
                params.no_indels ? "--no-indels" : '',
                "--untrimmed-output=unknown_${meta.id}.trim.fastq.gz", // .trim does not mean that these reads are trimmed, is just a placeholder
                params.tag_primers_f ? "-g file:${params.tag_primers_f}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/cutadapt_f_tags" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CUTADAPT_F_RC' {
        ext.prefix = { params.tag_primers_f ? "unknown_{name}" : "${meta.id}" }
        ext.args   = {
            [
                //"--action=none -e 0.1 --discard-untrimmed", --action=none is won't remove adapters
                //"-e 2",
                params.error_rate ? "-e ${params.error_rate}" : '',
                params.overlap ? "--overlap ${params.overlap}" : '',
                params.no_indels ? "--no-indels" : '',
                "--untrimmed-output=unknown_${meta.id}.trim.fastq.gz", // .trim does not mean that these reads are trimmed, is just a placeholder
                params.tag_primers_f ? "-g file:${params.tag_primers_f}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/cutadapt_f_tags" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CUTADAPT_R' {
        ext.prefix = { params.tag_primers_r ? "${meta.id}_{name}" : "${meta.id}" }
        ext.args   = {
            [
                //"--action=none -e 0.1 --discard-untrimmed", --action=none is won't remove adapters
                "--rc",
                "--discard-untrimmed", // Don't care about untrimmed reads anymore
                params.error_rate ? "-e ${params.error_rate}" : '',
                params.overlap ? "--overlap ${params.overlap}" : '',
                params.no_indels ? "--no-indels" : '',
                params.tag_primers_r ? "-g file:${params.tag_primers_r}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/cutadapt_r_tags" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'NANOFILT' {
        ext.args   = {
            [
                params.min_read_length ? "-l ${params.min_read_length}" : '',
                params.min_read_quality ? "-q ${params.min_read_quality}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/nanofilt" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'NANOPLOT' {
        publishDir = [
            path: { meta.old_id ? "${params.outdir}/nanoplot/demultiplexed/${meta.old_id}/${meta.id}" : "${params.outdir}/nanoplot/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQKIT_REVCOMP_A' {
        ext.prefix = { "${meta.id}_revcomp" }
        ext.args = '-r -p'
        publishDir = [
            path: { "${params.outdir}/seqkit_rv_a" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_REVCOMP_B' {
        ext.prefix = { "${meta.id}" }
        ext.args = '-r -p'
        publishDir = [
            path: { "${params.outdir}/seqkit_rv_b" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'AMPLICON_SORTER' {
        publishDir = [
            path: { "${params.outdir}/sorted_amplicons/${meta.old_id}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_AMPLICONS' {
        ext.prefix = { "${meta.id}_${meta.group}_amplicons" }
        ext.args = '-r' // Regex pattern
        publishDir = [
            path: { "${params.outdir}/seqkit_amplicons" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_CONSENSUS' {
        ext.prefix = { "${meta.id}_${meta.group}_consensus" }
        ext.args = '-r' // Regex pattern
        publishDir = [
            path: { "${params.outdir}/seqkit_consensus" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'MEDAKA' {
        stageInMode = 'copy' // To allow chaching
        ext.prefix  = { "${meta.old_id}_${meta.id}_${meta.group}_medaka" }
        publishDir  = [
            path: { "${params.outdir}/medaka/${meta.old_id}/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl -parse_seqids'
        publishDir = [
            path: { "${params.outdir}/makedb" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'BLAST_BLASTN' {
        //ext.prefix = { "${meta.id}_${meta.group}_blast" }
        ext.args   = {
            [
                params.outfmt ? "-outfmt ${params.outfmt}" : '', // Output format, default is tabular
                params.evalue ? "-evalue ${params.evalue}" : '', // Depends on the size of the database
                params.max_target_seqs ? "-max_target_seqs ${params.max_target_seqs}" : '', // Maximum number of hits per query
                params.max_hsps ? "-max_hsps ${params.max_hsps}" : '', // Maximum number of HSPs per subject (subjects in the database)
                params.qcov_hsp_perc ? "-qcov_hsp_perc ${params.qcov_hsp_perc}" : '' // Minimum query coverage per HSP
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GUNZIP' {
        ext.prefix = { "${meta.old_id}_${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/gunzip" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'GUNZIP.*' {
        publishDir = [
            path: { "${params.outdir}/gunzip" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_REPLACE' {
        // ext.prefix = { "${meta.id}_${meta.group}_amplicons" }
        ext.args = { "-p '.*' -r '${meta.old_id}_${meta.id}_${meta.group}'"}// Regex pattern, replace 'consensus' as name with primer pair and group info
        publishDir = [
            path: { "${params.outdir}/seqkit_replace" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'ASSIGN_TAXONOMY' {
        // ext.prefix = { "${meta.id}_${meta.group}_amplicons" }
        ext.args   = {
            [
                params.min_pident_species ? "--spident ${params.min_pident_species}" : '', // Identity threshold (in %) for taxonomy assignment at species level
                params.min_pident_genus ? "--gpident ${params.min_pident_genus}" : '', // Identity threshold (in %) for taxonomy assignment at genus level
                params.min_pident_family ? "--fpident ${params.min_pident_family}" : '', // Identity threshold (in %) for taxonomy assignment at family level
                params.min_pident_order ? "--opident ${params.min_pident_order}" : '', // Identity threshold (in %) for taxonomy assignment at oder level
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/assign_taxa/${meta.id}" },
            pattern: "*_final.csv",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PLOT_TAXONOMY' {
        ext.args = { params.tax_levels ? "--tax ${params.tax_levels}" : '' }
        publishDir = [
            path: { "${params.outdir}/plots/proportion" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMMUNITY_MATRIX' {
        ext.args = { params.community_tax ? "--tax ${params.community_tax}" : '' }
        publishDir = [
            path: { "${params.outdir}/community_matrix/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'FIND_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}/find_concatenate" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

}
