/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUTADAPT_F.*' {
        ext.prefix = { params.tags_f ? "{name}_${meta.id}" : "${meta.id}" }
        ext.args   = {
            [
                //"--action=none -e 0.1 --discard-untrimmed", --action=none is won't remove adapters
                //"-e 2",
                params.error_rate ? "-e ${params.error_rate}" : '',
                "--untrimmed-output=unknown_${meta.id}.trim.fastq.gz", // .trim does not mean that these reads are trimmed, is just a placeholder
                params.tags_f ? "-g file:${params.tags_f}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/cutadapt_f_tags" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CUTADAPT_R' {
        ext.prefix = { params.tags_r ? "{name}_${meta.id}" : "${meta.id}" }
        ext.args   = {
            [
                //"--action=none -e 0.1 --discard-untrimmed", --action=none is won't remove adapters
                "--discard-untrimmed", // Don't care about untrimmed reads anymore
                params.error_rate ? "-e ${params.error_rate}" : '',
                params.tags_r ? "-g file:${params.tags_r}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/cutadapt_r_tags" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CAT_CAT' {
        ext.prefix = { "${meta.id}_cat.fastq.gz" }
        publishDir = [
            path: { "${params.outdir}/cat" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CAT_CAT_MEDAKA' {
        ext.prefix = { "${meta.id}_corrected_concat.fasta" }
        publishDir = [
            path: { "${params.outdir}/corrected_caat" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'NANOFILT' {
        ext.args   = {
            [
                params.nano_read_length ? "-l ${params.nano_read_length}" : '',
                params.nano_quality ? "-q ${params.nano_quality}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/nanofilt" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'NANOPLOT' {
        publishDir = [
            path: { "${params.outdir}/nanoplot/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQKIT_REVCOMP_A' {
        ext.prefix = { "${meta.id}_revcomp" }
        ext.args = '-r -p'
        publishDir = [
            path: { "${params.outdir}/seqkit_rv_a" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_REVCOMP_B' {
        ext.prefix = { "${meta.id}" }
        ext.args = '-r -p'
        publishDir = [
            path: { "${params.outdir}/seqkit_rv_b" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'AMPLICON_SORTER' {
        publishDir = [
            path: { "${params.outdir}/sorted_amplicons" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQKIT_AMPLICONS' {
        ext.prefix = { "${meta.id}_${meta.group}_amplicons" }
        ext.args = '-r' // Regex pattern
        publishDir = [
            path: { "${params.outdir}/seqkit_amplicons" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_CONSENSUS' {
        ext.prefix = { "${meta.id}_${meta.group}_consensus" }
        ext.args = '-r' // Regex pattern
        publishDir = [
            path: { "${params.outdir}/seqkit_consensus" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'MEDAKA' {
        ext.prefix = { "${meta.id}_${meta.group}_medaka" }
        publishDir = [
            path: { "${params.outdir}/medaka/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl -parse_seqids'
        publishDir = [
            path: { "${params.outdir}/makedb" },
            mode: params.publish_dir_mode,
            enable: false
        ]
    }

    withName: 'BLAST_BLASTN' {
        //ext.prefix = { "${meta.id}_${meta.group}_blast" }
        ext.args   = {
            [
                params.outfmt ? "-outfmt ${params.outfmt}" : '', // Output format, default is tabular
                params.evalue ? "-evalue ${params.evalue}" : '', // Depends on the size of the database
                params.max_target_seqs ? "-max_target_seqs ${params.max_target_seqs}" : '', // Maximum number of hits per query
                params.max_hsps ? "-max_hsps ${params.max_hsps}" : '', // Maximum number of HSPs per subject (subjects in the database)
                params.qcov_hsp_perc ? "-qcov_hsp_perc ${params.qcov_hsp_perc}" : '' // Minimum query coverage per HSP
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GUNZIP.*' {
        publishDir = [
            path: { "${params.outdir}/gunzip" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SEQKIT_REPLACE' {
        // ext.prefix = { "${meta.id}_${meta.group}_amplicons" }
        ext.args = { "-p '.*' -r '${meta.id}_${meta.group}'"}// Regex pattern, replace 'consensus' as name with primer pair and group info
        publishDir = [
            path: { "${params.outdir}/seqkit_replace" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

}
