/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run against the synthetic wasp
    experiment dataset (see wasp_test_data/generate_test_data.py).

    Use as follows:
        nextflow run nf-core/nanoporemetabarcoding -profile test_synth,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '2.GB',
        time: '30m'
    ]

    withName: BLAST_BLASTN {
     resourceLimits = [
        cpus: 4,
        memory: '6.GB',
        time: '30m'
    ]
  }
}

params {
    config_profile_name        = 'Synthetic wasp test profile'
    config_profile_description = 'Small synthetic dataset (2 plates, 6 wells each, incl. EXT_NEG/POS_CON/BLANK controls) modelling the parasitoid-wasp diet-profiling experiment from the training docs'

    // Input data
    input  = 'wasp_test_data/samplesheet.csv'

    // Cutadapt options
    tag_primers_f                    = "${projectDir}/wasp_test_data/tag-primer_f.fasta" // Cutadapt doesn't work if I don't give the absolute path
    tag_primers_r                    = "${projectDir}/wasp_test_data/tag-primer_r.fasta"

    // Blast options
    custom_db                 = 'wasp_test_data/custom_db.fasta'

    // Metadata
    metadata                  = 'wasp_test_data/metadata.csv'

    // Filter options
    min_reads                = 0

    // taxonomizr options (smaller db version)
    sql_db                    = 'wasp_test_data/nameNode.small.sqlite'

}
