/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/nanoporemetabarcoding -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '2.GB',
        time: '30m'
    ]

    withName: BLAST_BLASTN {
     resourceLimits = [
        cpus: 4,
        memory: '6.GB',
        time: '30m'
    ]
  }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed

    input  = 'https://raw.githubusercontent.com/Eco-Flow/nanoporemetabarcoding/dev/assets/samplesheet.csv'

    // Cutadapt options
    tags_f                    = 'https://raw.githubusercontent.com/Eco-Flow/nanoporemetabarcoding/dev/test_data/primers_f.fasta'
    tags_r                    = 'https://raw.githubusercontent.com/Eco-Flow/nanoporemetabarcoding/dev/test_data/primers_r.fasta'

    // Blast options
    custom_db                 = 'https://raw.githubusercontent.com/Eco-Flow/nanoporemetabarcoding/dev/test_data/test_database.fasta'

    // Metadata
    metadata                  = 'https://raw.githubusercontent.com/Eco-Flow/nanoporemetabarcoding/dev/test_data/metadata.csv'

    // Filter options
    filt_fastq                = 0

    // taxonomizr options (smaller db version)
    sql_db                    = 's3://nanopore-metabarcoding/nameNode.sqlite'

}
